@{
    Layout = "_Layout_Base";
}
<div class="container">
    @RenderBody();
</div>

@section Style
    {
    @RenderSection("Style", false)
}
@section Script
    {
    @RenderSection("Script", false)
}