
@model IEnumerable<Websais.Models.EmployeeView>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ditails</title>
</head>
<body>
    <table>
        @foreach (var item in Model)
        {

            @item.Id
          <tr>  @Html.ActionLink("Детали", "Details", new { id = item.Id })</tr>
        }
        </table>

</body>
</html>
